{% extends 'emails/base_email_template.html.twig' %}

{% block email_content %}
    <p style="margin:0 0 10px">
        Уважаемый(-ая) <b>{{ client.firstname }} {{ client.lastname }}</b>, Ваша карта - <b>{{ card.cardNumber }}</b> отклонена!
    </p>
    <p style="margin:0 0 10px;padding:10px;border:1px solid #ffccc7;background:#ffe0e3;border-radius:7px;">
        <span style="width:20px;height:20px;background:#ff4d4f;border-radius:50%;color:#ffffff;margin-right:5px;font-size:14px;text-align:center;display:inline-block;">!</span>
        Причина: {{ card.comment }}
    </p>
    <p style="margin:0 0 10px;padding:10px;border:1px solid #ffe58f;background:#fff8e4;border-radius:7px;">
        <span style="width:20px;height:20px;background:#faad14;border-radius:50%;color:#ffffff;margin-right:5px;font-size:14px;text-align:center;display:inline-block;">!</span>
        Если Вы пошагово следовали инструкции верификации, но карта была отклонена, обратитесь к нашим менеджерам - они помогут разобраться в причине.
    </p>
{% endblock %}