{% extends 'emails/base_email_template.html.twig' %}

{% block email_content %}
    <p style="font-size:16px;font-weight:bold;margin:0 0 10px">
        Здравствуйте!
    </p>
    <p style="margin:0 0 10px">
        <b>{{ client.firstname }} {{ client.lastname }}</b>, заявка на вывод реферальных накоплений в сумме
        {{ requisition.amount }} USDT - отменена Администратором, по причине  -  {{ requisition.commentary }}
    </p>
    <p style="margin:0 0 10px">
        Обратитесь к менеджерам нашего сервиса, пожалуйста - они помогут Вам определить причину отмены.
    </p>
{% endblock %}